<!DOCTYPE html>
<html ng-app="myModule" ng-controller="myController">
<head>
<meta charset="ISO-8859-1">
<title>Student Details</title>
        <script src="angular.js"></script>
         <script type="text/javascript">
		var app=angular.module("myModule",[]);
		
		app.controller("myController",['$scope','$http',function($scope,$http,$window){
			
			var Student={
			        "Id":0,
			        "Name":"",
			        "Age":0,
			        "Country":""
			};
			//$window.alert(Student.Id+"Initial");
			
			$scope.Student=Student;
			
			$scope.GettingStudentDetails=function(id){
				//var id=Student.Id;
				//$window.alert(Student.Id);
				
	    		$http({
	    			method :'GET',
	    			url : 'http://localhost:8081/WebServices/webapi/myresource/GetStudentDetailsWithId/'+id,
	    			
	    		}).then(function (response)
	    				{
	    			$scope.Student=response.data;
	    				});
	    	}
			
			$scope.AddStudentDetails=function(){
	    		$http({
	    			method :'POST',
	    			url : 'http://localhost:8081/WebServices/webapi/myresource/StudentDetails',
	    			data : angular.toJson($scope.Student),
	    			headers:{'Content-Type':'application/json'}
	    		}).then();
	    		
	    	}
			
			$scope.DeletingStudentDetails=function(StudentId)
			{
				var id=StudentId;
				$http({
					method:'DELETE',
					url:'http://localhost:8081/WebServices/webapi/myresource/DeletingStudentDetails/'+id,
				}).then(function(response){
					
				})
				;
			}
			
			$scope.UpdateStudentDetails=function(StudentId){
				
	    		$http({
	    			method :'PUT',
	    			url : 'http://localhost:8081/WebServices/webapi/myresource/UpdateStudentDetails/'+StudentId,
	    			data : angular.toJson($scope.Student),
	    			headers:{'Content-Type':'application/json'}
	    		}).then();
	    		
	    	}
	}]);

</script>
        
</head>
<body>
	<form >
	<i>Enter Id</i><input type="number" Id="Id"  ng-model="Student.Id" >
	<input type="button" value="Find Student" ng-click="GettingStudentDetails(Student.Id)">
	<input type="button" value="Delete Student" ng-click="DeletingStudentDetails(Student.Id)">
	</form>
	<table>
	<tr>
	<td>Student Id:</td>
	<td><input type="number" Id="Id" ng-model="Student.Id"></td>
	</tr>
	<tr>
	<td>Student Name:</td>
	<td><input type="text" Id="Name" ng-model="Student.Name"></td>
	</tr>
	<tr>
	<td>Student Age:</td>
	<td><input type="number" Id="Age" ng-model="Student.Age"></td>
	</tr>
	<tr>
	<td>Student Country:</td>
	<td><input type="text" Id="Country" ng-model="Student.Country"></td>
	</tr>
	<tr>
	<td><input type="button" value="Add Student" ng-click="AddStudentDetails()"></td>
	<td><input type="button" value="Update Student" ng-click="UpdateStudentDetails(Student.Id)"></td>
	</tr>
	</table>
	
	
</body>
</html>